
.button button {
    padding: 10px;
    width: 90%;
    border: none;
    color: #fff;
    font-size: 16px;
    background-color: #e90c59;
    border: 0.125rem solid transparent;
    box-shadow: 8px 10px 20px 0px rgba(46, 61, 73, 0.15);
}